.carousel-inner img {
    width: 100%;
    height: 350px;
    max-height: 350px;
    margin-top: 30px;
}

button {
    border: none;
}

.edit {
    background: none;
}

.btn {
    width: 100%;
    font-size: small;
}

.margin {
    margin-top: 50px;
}

.cartbutton {
    height: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .row {
        display: inline-block;
    }
    /* .margin{
    margin-top: 50px;
    left: -36px;
    } */
    .cartbutton {
        margin-bottom: 10px;
        ;
    }
}