<div class="bottom">
  <div *ngIf="cartItems.length === 0" class="alert alert-info empty-cart">Your Basket is Empty.</div>
  <div class="shopping">
    <h2 class="font-shop fa fa-shopping-cart">{{cartItems.length}} Shopping Cart</h2>
    <button type="button" class="btn btn-dark alignment mybtn" (click)="back()">Back</button>
    <div>
      <ul *ngIf="cartItems.length > 0" class="list-group">
        <li *ngFor="let item of cartItems">
          <app-cart-item [cartItem]="item"></app-cart-item>
        </li>
        <li class="total">
          <hr>
          <label class="alignment">Total({{cartItems.length}} items): {{ cartTotal | currency:'INR' }} </label>
           <button type="button" class="btn btn-dark alignment product-btn" (click)="buy(cartItems)">Proceed To Buy</button>
        </li>
      </ul>

    </div>
  </div>
</div>
