<div class="bottom">
    <div class="my-container">
        <div class="padding">
            <label style="color: #aab7b8;">ABOUT E-CART</label>
            <h1 style="padding-top: 15px;">E-commerce shopping cart</h1>
            <div class="sub-heading">
                E-commerce is guided by four principles: customer obsession rather than competitor focus, passion for
                invention, commitment to operational excellence, and long-term thinking.
            </div>
            <div>
                <h3>Community</h3>
                <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and
                    communities. We are smart, passionate builders with different backgrounds and goals, who
                    share a common desire to always be learning and inventing on behalf of our customers.</p>
            </div>
            <div *ngIf="displayUser">
                <h3>User Details</h3>
                <label>FirstName: {{myUser.firstName}}</label><br>
                <label>LastName: {{myUser.lastName}}</label><br>
                <label>Location: {{myUser.location}}</label><br>
                <label>MobileNo: {{myUser.mobileNo}}</label><br>
                <label>Email Address: {{myUser.email}}</label>
                <br>
            </div>
            <br>
            <div *ngIf="!displayUser">
                <p style="color: blue;">Login to view your cart</p>
                <p style="color: blue;">New users? Please register !</p>
            </div>
        </div>

    </div>
</div>