
    <div class="container details">
      <h4 style="font-size: 30px;"> Product Details</h4>
      <br><br>
      <div class="img-card">
        <img src={{products.src}} alt="pic" width="250" height="300">

        <mat-card class="example-card">
          <!-- <mat-card-header> -->
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>
            <h3>{{products.productName}}</h3>
          </mat-card-title>
          <!-- </mat-card-header> --><br>
          <mat-card-subtitle>Price:<strong style="color:crimson"> Rs.{{products.price}}</strong></mat-card-subtitle>

          <mat-card-content>
            <p><strong>Details: {{products.productDes}} </strong></p> &nbsp;
            <button type="button" class="btn btn-sm btn-primary product-btn" (click)="buy()">Buy</button> &nbsp;
            <button mat-button (click)="back()">Back</button>
          </mat-card-content>
          <!-- <mat-card-actions>
        <button mat-button (click)="back()">Back</button>
      </mat-card-actions> -->
        </mat-card>
        <div class="col">
          <app-cart></app-cart>
          <!-- <app-product-details [productItem]="products"></app-product-details> -->

            <!-- <div class="row">
          </div> -->

      </div>
      </div>
    </div>

   