<!-- <div class="album py-5 bg-light">
  <div class="container" *ngFor="let i of products">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{i.src}}" alt="Card image cap">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="container">
            <h6>{{i.productDes}}</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->


<div style="font-family: auto;" class="container">
  <strong style="font-size: 30px;"> Product Details</strong> <br> <br>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{productImage}}" alt="Card image cap">
      </div>
    </div>
  </div> -->
  <h5>Product Name: {{productName}} </h5> <br>
  <button type="button" (click)="back()">Back</button>
</div>