.add {
    float: right;
    margin-bottom: 10px;
}
.view{
    margin-left: 285px;
}
.display{
    display:inline-block
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

button {
    border: none;
    height: 35px;
}

.edit {
    color: white;
    background: none;
}

.product-btn {
    color: black;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .add {
        margin: 20px 0px !important;
    }
    .view{
        margin: 20px 0px !important;
        margin-left: 0px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
    .view {
        margin-left: -35px;
    }
}
