<div class="container" style="display:inline-block">
    <button class="add btn btn-dark" [routerLink]="['/products/addProduct']">
  Add New Product
</button>
    <div class="form-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped" *ngIf="(productItem | filter: searchText).length > 0; else noResults">

            <thead>
                <tr>
                    <th class="th-sm">Product Name</th>
                    <th class="th-sm">Manufacturer</th>
                    <th class="th-sm">Price</th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of productItem | filter: searchText; let i = index">

                    <td><a [routerLink]="['/products',i.id]">{{i.productName | slice: 0:15}}</a></td>
                    <td>{{i.manufacturer}}</td>
                    <td>{{i.price | currency:'INR'}}</td>
                    <td> <button class="dis edit" [routerLink]="['/products/update',i.id]">
          <i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </td>
                    <td> <button type="button" class="btn btn-danger dis" [routerLink]="['/products/delete',i.id]">
          <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart(i)">Add to
          Cart</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <ng-template #noResults>
        <p>No results found for "{{searchText}}".</p>
    </ng-template>
</div>