.example-card {
    max-width: 300px;
    min-width: 100px;
    display: inline;
    margin: 20px;
    padding: 20px;
}

.aroundcard {
    display: flex;
    flex-wrap: wrap;
}


/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} */