<nav class="navbar nav-top navbar-expand-lg bg-dark navbar-dark col-md-12 col-lg-12 col-sm-12">
    <button class="navbar-toggler my-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                  true}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
            </li>
        </ul>
        <div *ngIf="!user" class="my-style">

            <button type="button" class="btn btn-outline-secondary ml-3" routerLink="account/login">
                <i class="fa fa-fw fa-user"></i>Login</button>
        </div>
        <button class="btn btn-outline-secondary ml-3" (click)="logout()" *ngIf="user">Logout</button>

    </div>

</nav>

<alert></alert>
<router-outlet></router-outlet>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">&copy; E-Cart.com </a>
</nav>