<h2>Update Product</h2>
<form>
    <div class="form-group">
        <label for="proName">Product Name</label>
        <input type="text" id="proName" class="form-control" required>

    </div>

    <div class="form-group">
        <label for="proDiscription">Description</label>
        <input type="text" id="proDiscription" class="form-control" required>

    </div>

    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" id="manufacturer" class="form-control" required>

    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" required>

    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" class="form-control" required>

    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button> &nbsp;
        <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>